
@model IEnumerable<Project.Models.computer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@* DIV CREATED FOR TEXTBOX INPUTS FOR FILTER*@
<div class="form-group">
    <fieldset>
        <legend>Search Filter</legend>
        @{
            using (Html.BeginForm("Filter", "Computer", FormMethod.Post, new { @class = "form-inline" }))
            {
                // This is a CSRF (Cross Site Request Forgery) Token
                @Html.AntiForgeryToken()
                // BELOW ARE TEXT BOXES THAT PASS DATA THROUGH VIEWBAG
                <label for="id">ID</label>
                @Html.TextBox("id", (string)ViewBag.filterID)
                <label for="od">OS</label>
                @Html.TextBox("os", (string)ViewBag.filterOS)
                <label for="loc">Location</label>
                @Html.TextBox("loc", (string)ViewBag.filterLoc)
                <label for="ins">Installed On</label>
                @Html.TextBox("ins", (string)ViewBag.filterIns)
                <label for="act">Active</label>
                @Html.TextBox("act", (string)ViewBag.filterAct)
                <input type="submit" value="Filter" class="btn btn-info pull-right" />
            }
        }
    </fieldset>
</div>
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.os)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.installedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        // ADDED CODE TO THIS TAG TO ALLOW CLICKABLE TABLE ROWS
        <tr onclick="location.href = '@Url.Action("Edit", "Computers", new { id=item.id })'">
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.os)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.installedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.active)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
